@{
    ViewBag.Title = "Movie Buff";
}

<div class="jumbotron">
    <h1>Movie Buff</h1>
    <p class="lead">Type in the name of your favourite actor and hit 'search' to see their best films!</p>
    <label for="actor">Actor</label>
    <input type="text" name="actor" value="" />
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Search</a></p>
</div>